<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

    <!--치환되는 부분만 정의 가능,외부는 안됨-->
    <main layout:fragment="content">
        <h1 th:text="#{로그인}"></h1>
        <!--메세지식 넣어서 교체 가능-->
        <form name="frmLogin" method="POST" th:action="@{/member/login}" autocomplete="off" th:object="${requestLogin}">
            <input type="hidden" name="redirectUrl" th:field="*{redirectUrl}">
            <!--값을 보여줄 필요없기 때문에 hidden으로 넘김-->
            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <input type="text" name="email" th:field="*{email}">
                    <div th:if="*{!success}" class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt th:text="#{비밀번호}"></dt>
                <dd>
                    <input type="password" name="password" th:field="*{password}">
                    <div th:if="*{!success}" class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                </dd>
            </dl>
            <div class="error global" th:each="err: ${#fields.globalErrors()}" th:text="${err}"></div>
            <button type="submit" th:text="#{로그인}"></button>
        </form>
    </main>
</html>