<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="csrf_token" th:content="${_csrf.token}">
    <meta name="csrf_header" th:content="${_csrf.headerName}">
    <!--ajax로 요청을 보낼 때 토큰 정보도 실어 보내야 함-->
    <title>
        <th:block th:if="${pageTitle != null}"
        th:text="${#strings.concat(pageTitle, '-')}"></th:block>
        사이트 제목
    </title>
    <!--페이지마다 사이트 제목이 바뀌도록 설정 ex)로그인-관리자-->
    <!--static 경로는 이미 /로 시작하도록 정의됨-->
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}">
    <link th:if="${addCss != null}" rel="stylesheet" type="text/css"
          th:each="cssFile: ${addCss}" th:href="@{/front/css/{file}.css(file=${cssFile})}">
    <!--특정 css만 적용할 경우 el식과 if문으로 교체될 부분 정의-->
    <th:block layout:fragment="addCss"></th:block>
    <!--컨트롤러가 없는 경우 layout 블럭으로 내용 치환 정의-->
    <script th:src="@{/common/js/common.js}"></script>
    <script th:src="@{/front/js/common.js}"></script>
    <script th:if="${addScript != null}" th:each="jsFile: ${addScript}"
            th:src="@{/front/js/{file}.js(file=${jsFile})}"></script>
    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
    <header th:replace="~{front/outlines/_header::common}"></header>
    <!--templates 폴더가 경로 기준, fragment에 설정한 부분 교체, 타임리프에서 제공하는 기능-->
    <main layout:fragment="content"></main>

    <footer th:replace="~{front/outlines/_footer::common}"></footer>
    <!--히든 프레임 넣어서 한 페이지에서 화면 전환,
    기본값으로 두면 히든 프레임도 화면에 나타나지만 스타일 적용하면 안보이임-->
    <iframe name="ifrmHidden" class="dn"></iframe>
</body>
</html>